@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CyberpunkH1';
  src: local('CyberpunkH1'), url('./fonts/Arkcon-5yzLZ.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CyberpunkH3';
  src: local('CyberpunkH3'),
    url('./fonts/CyberwayRiders-lg97d.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CyberpunkH4';
  src: local('CyberpunkH4'),
    url('./fonts/KaderaRegular-m2G2V.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Section-Heading';
  src: local('Section-Heading'),
    url('./fonts/Nautica-E4BVW.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Manrope', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #111827;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}

::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.Hero-text-Heading {
  font-family: 'CyberpunkH1', sans-serif;
}
.Hero-text-sub {
  font-family: 'CyberpunkH3', sans-serif;
}

.Sub-text {
  font-family: 'CyberpunkH4', sans-serif;
}
.Section-Heading {
  font-family: 'Section-Heading', sans-serif;
}
